Ex 1 : Check the lenght of the string "My name is python"

In [ ]:
string="My name is python"
length= len(string)
print("There are {} elements in the given string.".format(length))

There are 17 elements in the given string.

Ex 2: Check the number of times "python" (regardless of cases: PYTHON, python, Python" appears in the paragraph : "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."

In [6]:
string="Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."
low_str=string.lower()#I believe lower casing every elements in the string makes counting "python" much easier and correctly.
num=low_str.count("python")
print("There are {} occurances of the word 'Python' in the given sentence.".format(num))

There are 2 occurances of the word 'Python' in the given sentence.

Ex 3: Combine two lists : ls1 = ["apple", "banana", "cherry"] and ls2 = ["apple", "banana", "cherry", "apple", "cherry"]. Print the number of elements in new list.

In [ ]:
ls1 = ["apple", "banana", "cherry"]
ls2 = ["apple", "banana", "cherry", "apple", "cherry"]
combined=len(ls1+ls2)
print("There are a total of {} items in both lists.".format(combined))

There are a total of 8 items in both lists.

Ex 4: Create a dictionary for the following table:

| Key | Value | 
| --- | --- | 
| Name | Age |
| Myo | 32 |
| Thida | 64 |

In [9]:
dictionary={"Name":["Myo","Thida"],"Age":[32,64]}
dictionary['Age']


#Professor, I see 2 values under "Age" in the table. Therefore, I seperated "Myo" and "Thida" as 2 values of "Name".

KeyError: ignored

Ex 5: Combine two sets and print the combined set and its length. 
set1 = {"Name", "age", "Height"}
set2 = {"Name", "status", "Education"}